html, body {
            font-family: 'DM Serif Display', sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Remove all vertical scrolling */
        }

body {
    background-color: white;
    color: #333;
     min-height: 100vh;
     min-width: 100vw;
}

.container-fluid, .row {
            height: 100vh;
            min-height: 100vh;
        }
        main {
            overflow: auto;
            height: 100vh;
        }
        @media (max-width: 991.98px) {
            aside, main {
                height: 50vh;
            }
            .row {
                flex-direction: column;
            }
        }

header {
    background-color: #da41e7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
}

section {
    padding: 40px 20px;
}

h2 {
    color: #da41e7;
    margin-bottom: 20px;
}

.project {
    border: 1px solid #da41e7;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05);
}

footer {
    background-color: #da41e7;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}



