@inject NavigationManager Navigation
@rendermode InteractiveServer

<div class="dropdown">
    <button class="btn btn-outline-light btn-sm" type="button">
        <i class="fas fa-user-circle me-1"></i>        
        <a class="dropdown-item text-danger" href="logouthandler">
            <i class="fas fa-sign-out-alt me-2"></i>
            Logout
        </a>
    </button>
    
</div>